
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#chat-scroll-area::-webkit-scrollbar {
  width: 16px;
  background: #e5e7eb;
}

#chat-scroll-area::-webkit-scrollbar-track {
  background: #e5e7eb;
  border-radius: 8px;
}

#chat-scroll-area::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 8px;
  border: 3px solid #e5e7eb;
  min-height: 60px;
}

#chat-scroll-area::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
  border: 3px solid #e5e7eb;
}

#chat-scroll-area::-webkit-scrollbar-thumb:active {
  background: #1d4ed8;
}

#chat-scroll-area {
  scrollbar-width: auto;
  scrollbar-color: #3b82f6 #e5e7eb;
}

:not(#chat-scroll-area) {
  
  -ms-overflow-style: none;
}

*:not(#chat-scroll-area)::-webkit-scrollbar {
  display: none;
}

/*satart*/


*, ::before, ::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  border-color: #e5e7eb;
}


.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #9ca3af #f3f4f6;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f3f4f6;
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
  border-radius: 8px;
}


.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280;
}